
{% extends "base/base.html" %}


{% block title %}
  pergunta | {{ block.super }}
{% endblock %}

{% block conteudo %}
<h2>Classificação da Sala: {{sala}}<h2>
<div class="row">
<div class="col-8"> 
<span class="texto-resposta">Nome</span>
</div>
<div class="col-4"> 
<span class="texto-resposta">Pontos</span>
</div>
</div>
{% for pontuacao in object_list %}
    <p>
    <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-8"> 
           {{ forloop.counter }}-{{pontuacao.usuario}}
        </div>
        <div class="col-4"> 
        {{pontuacao.pontos}}
        </div>
    </div>
    </div>
    </div>
    <p>
{% endfor %}
<p>
<a href="{% url 'index' %}" class="btn btn-primary">Recomeçar</a>
</p>
{% endblock %}